<div class="formatted-form">
  <%= devise_error_messages! %>

  <h1>My account</h1>
  <h2 class="sub-title">Update your information</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.email_field :email, placeholder: "KU Email (e.g. K123456@kingston.ac.uk)", disabled: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.password_field :password, placeholder: "New password", autocomplete: "off" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm your new password", autocomplete: "off" %>
    <%= f.password_field :current_password, placeholder: "Current password", autocomplete: "off" %>
    <%= f.submit "Update" %>
  <% end %>
</div>