= render "devise/shared/bg"
.formatted-form
  = devise_error_messages!
  %h1 My account
  %h2.sub-title Update your information
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.email_field :email, placeholder: "KU Email (e.g. K123456@kingston.ac.uk)", disabled: true, autofocus: true
    = f.text_field :first_name, placeholder: "First name"
    = f.text_field :last_name, placeholder: "Surname"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.password_field :password, placeholder: "New password", autocomplete: "off"
    = f.password_field :password_confirmation, placeholder: "Confirm your new password", autocomplete: "off"
    = f.password_field :current_password, placeholder: "Current password", autocomplete: "off"
    = f.submit "Update"

    - if resource.is_a?(User)
      %h2.default-cv-fields Default CV fields:
      = f.text_field :address, placeholder: "Address"
      = f.text_field :phone_number, placeholder: "Phone number"
      = f.text_area :personal_profile, placeholder: "Personal profile", rows: 8
      = f.text_area :education, placeholder: "Education", rows: 8
      = f.text_area :technical_skills, placeholder: "Technical skills", rows: 8
      = f.text_area :project_work, placeholder: "Project work", rows: 8
      = f.text_area :professional_experience, placeholder: "Professional experience", rows: 8
      = f.text_area :interests_and_achievements, placeholder: "Interests and achievements", rows: 8
      = f.text_area :references, placeholder: "References", rows: 8
      = f.submit "Update"
