<div class="filter-box">
	<div class="search">
		<p>Search:</p>
		<input type="text"> 
	</div>

	<div class="category">
		<p>Filter by category:</p>
		<button>Science</button>
		<button>Computing</button>
		<button>Engineering</button>
	</div>

	<div class="date-added">
		<p>Filter by added date:</p>
		<button>Newest</button>
		<button>Oldest</button>
	</div>	
 
 	<div class="deadline">
		<p>Filter by deadline:</p>
		<button>Upcoming</button>
		<button>Furthest</button>
	</div>
</div>

<% @jobs.each do |job| %>
	<div class="job-details">
		<div class="job-title"><%= job.title %></div>
		<% if job.logo? %>
			<div class="job-logo"><%= job.logo %></div>
		<% end %>
		<div class="job-deadline">
			<span class="bold">Deadline:</span> 
			<%= job.deadline %>
		</div>
		<div class="job-salary">
			<span class="bold">Salary:</span> 
			<%= job.salary %>
		</div>
		<div class="job-category">
			<span class="bold">Category:</span> 
			<%= job.category %>
		</div>
		<div class="job-description">
			<%= job.description %>
		</div>
		<div class="send-button center">
			<%= link_to "Apply", new_job_cv_path(job) %>
		</div>
	</div>
<% end %>