= render 'bg'
.filter-box
  .search
    %p Search:
    = form_tag jobs_path, method: 'GET' do
      = text_field_tag :search
      = submit_tag "Search", name: nil
  .category
    %p Filter by category:
    - if @current_category.blank?
      .link-btn.currently-selected= link_to "All categories", params.slice(:search, :deadline, :date).merge(category: "All categories")
    - else
      .link-btn= link_to "All categories", params.slice(:search, :deadline, :date).merge(category: "All categories")
      
    - if @current_category == 'Science'
      .link-btn.currently-selected= link_to "Science",        params.slice(:search, :deadline, :date).merge(category: "Science")
    - else
      .link-btn= link_to "Science",        params.slice(:search, :deadline, :date).merge(category: "Science")
      
    - if @current_category == 'Computing'
      .link-btn.currently-selected= link_to "Computing",      params.slice(:search, :deadline, :date).merge(category: "Computing")
    - else
      .link-btn= link_to "Computing",      params.slice(:search, :deadline, :date).merge(category: "Computing")
      
    - if @current_category == 'Engineering'
      .link-btn.currently-selected= link_to "Engineering",    params.slice(:search, :deadline, :date).merge(category: "Engineering")
    - else
      .link-btn= link_to "Engineering",    params.slice(:search, :deadline, :date).merge(category: "Engineering")
      
  .date-added
    %p Filter by added date:
    - if @current_date == 'Newest'
      .link-btn.currently-selected= link_to "Newest",         params.slice(:search, :category).merge(date: "Newest")
    - else
      .link-btn= link_to "Newest",         params.slice(:search, :category).merge(date: "Newest")
    - if @current_date == 'Oldest'
      .link-btn.currently-selected= link_to "Oldest",         params.slice(:search, :category).merge(date: "Oldest")
    - else
      .link-btn= link_to "Oldest",         params.slice(:search, :category).merge(date: "Oldest")
  .deadline
    %p Filter by deadline:
    - if @current_deadline == 'Upcoming'
      .link-btn.currently-selected= link_to "Upcoming",       params.slice(:search, :category).merge(deadline: "Upcoming")
    - else
      .link-btn= link_to "Upcoming",       params.slice(:search, :category).merge(deadline: "Upcoming")
    - if @current_deadline == 'Furthest'
      .link-btn.currently-selected= link_to "Furthest",       params.slice(:search, :category).merge(deadline: "Furthest")
    - else
      .link-btn= link_to "Furthest",       params.slice(:search, :category).merge(deadline: "Furthest")
  .clear-filters
    .link-btn= link_to "CLEAR FITLERS",  jobs_path
- @jobs.each do |job|
  .job-details
    .job-title= job.title
    .job-content
      - if job.logo.present?
        = image_tag job.logo, class: "job-logo"
      .job-deadline
        %span.bold Deadline:
        = job.deadline
      .job-salary
        %span.bold Salary:
        = "£#{job.salary}"
      .job-category
        %span.bold Category:
        = job.category
      .job-description
        = job.description
    .apply-link= link_to "Apply", new_job_cv_path(job), class: "link"
