= render 'bg'

.job-details
  .job-title= @job.title
  .job-content
    - if @job.logo?
      = image_tag @job.logo, class: "job-logo"
    .job-deadline
      %span.bold Deadline:
      = @job.deadline
    .job-salary
      %span.bold Salary:
      = "£#{@job.salary}"
    .job-category
      %span.bold Category:
      = @job.category
    .job-description
      = @job.description

.centered-btn= link_to 'Back to CVs page', cvs_path, class: "link"