.formatted-form.feedback-form
  .cv-template
    = form_for [:admin, @cv, @feedback] do |f|
      .cv-part
        .personal-details
          %p= @cv.name
          %p= @cv.address
          %p= "#{@cv.email}, #{@cv.phone_number}"
        - if @cv.feedbacks.last && @cv.feedbacks.last.personal_details.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.personal_details
        .feedback-field
          = f.text_area :personal_details, placeholder: 'Personal details comments'

      .cv-part
        .header Personal Profile
        %p= @cv.personal_profile
        - if @cv.feedbacks.last && @cv.feedbacks.last.personal_profile.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.personal_profile
        .feedback-field
          = f.text_area :personal_profile, placeholder: 'Personal profile comments'

      .cv-part
        .header Education
        %p= @cv.education
        - if @cv.feedbacks.last && @cv.feedbacks.last.education.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.education
        .feedback-field
          = f.text_area :education, placeholder: 'Education comments'

      .cv-part
        .header Technical Skills
        %p= @cv.technical_skills
        - if @cv.feedbacks.last && @cv.feedbacks.last.technical_skills.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.technical_skills
        .feedback-field
          = f.text_area :technical_skills, placeholder: 'Technical Skills comments'

      .cv-part
        .header Project Work
        %p= @cv.project_work
        - if @cv.feedbacks.last && @cv.feedbacks.last.project_work.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.project_work
        .feedback-field
          = f.text_area :project_work, placeholder: 'Project work comments'

      .cv-part
        .header Professional Experience
        %p= @cv.professional_experience
        - if @cv.feedbacks.last && @cv.feedbacks.last.professional_experience.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.professional_experience
        .feedback-field
          = f.text_area :professional_experience, placeholder: 'Professional experience comments'

      .cv-part
        .header Interests and Achievements
        %p= @cv.interests_and_achievements
        - if @cv.feedbacks.last && @cv.feedbacks.last.interests_and_achievements.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.interests_and_achievements
        .feedback-field
          = f.text_area :interests_and_achievements, placeholder: 'Interests and achievements comments'

      .cv-part
        .header References
        %p= @cv.references
        - if @cv.feedbacks.last && @cv.feedbacks.last.references.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.references
        .feedback-field
          = f.text_area :references, placeholder: 'References comments'

      %hr/

      .cv-part
        - if @cv.feedbacks.last && @cv.feedbacks.last.other_comments.present?
          %p.previous-feedback-comment
            = @cv.feedbacks.last.other_comments
        .feedback-field
          = f.text_area :other_comments, placeholder: 'Other comments comments'
      
      .under-form-links
        = f.submit "Needs improvement", class: "reject-btn"
        = f.submit "Ready to send", class: "accept-btn"
      .under-form-links
        = link_to '↫ BACK', admin_cvs_path, class: "link"