= render 'bg'
- @feedbacks.each do |feedback|
  .preview-box
    .header= "Feedback ##{feedback.id}"
    %table
      %tr
        %td Created date:
        %td= feedback.created_at.strftime("%H:%m %d.%m.%Y")
    .center
      = link_to 'Show', admin_feedback_path(feedback), class: "link"
