= render 'bg'

.centered-btn= link_to 'New Job', new_admin_job_path, class: "link"

.filter-box
  .search
    %p Search:
    %input{:type => "text"}/
  .category
    %p Filter by category:
    .link-btn= link_to "All categories", params.slice(:deadline, :date).merge(category: "All categories")
    .link-btn= link_to "Science",        params.slice(:deadline, :date).merge(category: "Science")
    .link-btn= link_to "Computing",      params.slice(:deadline, :date).merge(category: "Computing")
    .link-btn= link_to "Engineering",    params.slice(:deadline, :date).merge(category: "Engineering")
  .date-added
    %p Filter by added date:
    .link-btn= link_to "Newest",         params.slice(:category).merge(date: "Newest")
    .link-btn= link_to "Oldest",         params.slice(:category).merge(date: "Oldest")
  .deadline
    %p Filter by deadline:
    .link-btn= link_to "Upcoming",       params.slice(:category).merge(deadline: "Upcoming")
    .link-btn= link_to "Furthest",       params.slice(:category).merge(deadline: "Furthest")

- @jobs.each do |job|
  .job-details
    .job-title= job.title
    .job-content
      - if job.logo?
        = image_tag job.logo, class: "job-logo"
      .job-deadline
        %span.bold Deadline:
        = job.deadline
      .job-salary
        %span.bold Salary:
        = "£#{job.salary}"
      .job-category
        %span.bold Category:
        = job.category
      .job-description
        = job.description
    .center.job-links
      = link_to 'Edit', edit_admin_job_path(job), class: "link"
      |
      = link_to 'Remove', [:admin, job], method: :delete, data: { confirm: 'Are you sure?' }, class: "link"