%table.jobs-table
  %thead
    %tr
      %th Job title
      %th Job description
      %th Job salary
      %th Job category
      %th Job logo
  %tbody
    %tr
      %td= @job.title
      %td= @job.description
      %td= @job.salary
      %td= @job.category
      %td= @job.logo
.under-form-links
  = link_to 'Edit', edit_admin_job_path(@job)
  |
  \#{link_to 'Back', admin_jobs_path}
