.formatted-form.cv-form
  %h1 Create new CV
  %h2.sub-title Fill the fields below.
  = form_for [@job, @cv] do |f|
    %div
      = f.label :name, 'Your full name'
      = f.text_field :name, placeholder: 'Your full name'
    %div
      = f.label :address, 'Address'
      = f.text_field :address, placeholder: 'Address'
    %div
      = f.label :email, 'Email'
      = f.email_field :email, placeholder: 'Email'
    %div
      = f.label :phone_number, 'Phone number'
      = f.phone_field :phone_number, placeholder: 'Phone number'
    %div
      = f.label :personal_profile, 'Personal profile'
      = f.text_field :personal_profile, placeholder: 'Personal profile'
    %div
      = f.label :education, 'Education'
      = f.text_field :education, placeholder: 'Education'
    %div
      = f.label :technical_skills, 'Technical skills'
      = f.text_field :technical_skills, placeholder: 'Technical skills'
    %div
      = f.label :project_work, 'Project work'
      = f.text_field :project_work, placeholder: 'Project work'
    %div
      = f.label :professional_experience, 'Professional experience'
      = f.text_field :professional_experience, placeholder: 'Professional experience'
    %div
      = f.label :interests_and_achievements, 'Interests and achievements'
      = f.text_field :interests_and_achievements, placeholder: 'Interests and achievements'
    %div
      = f.label :references, 'References'
      = f.text_field :references, placeholder: 'References'
    = f.submit
  .under-form-links
    = link_to '↫ BACK', cvs_path, class: "link"