= render 'bg'

/ .centered-btn= link_to "Create new CV", new_cv_path, class: 'link'

.preview-boxes
  - @cvs.each_with_index do |cv, index|
    .preview-box
      .header= "CV ##{index + 1}"
      %table
        - if cv.job.present?
          %tr
            %td Created for:
            %td= link_to cv.job.title, job_path(cv.job)
        %tr
          %td Created date:
          %td= cv.created_at.strftime("%H:%m %d.%m.%Y")
        %tr
          %td Status:
          - if cv.pending?
            %td.status.status-pending
              pending
          - elsif cv.feedbacks.last.present?
            %td.status{class: "status-#{cv.feedbacks.last.status}"}
              - if cv.ready?
                SENT!
              - elsif cv.feedbacks.last.accepted?
                ready to send
              - elsif cv.feedbacks.last.rejected?
                needs improvement
              - else
                pending
      .links
        - if cv.pending?
          = link_to "Show CV", cv_path(cv), class: "link"
        - else
          = link_to "Show CV and Feedback", [cv, cv.feedbacks.last], class: "link"
        |
        = link_to "Edit CV", edit_cv_path(cv), class: "link"
        |
        = link_to "Remove CV", cv_path(cv), data: { confirm: "Are you sure?" }, method: :delete, class: "link"
        - if cv.accepted?
          |
          = link_to "Apply for job", cv_ready_path(cv), method: :post, class: "link bold"