= render 'bg'
.cv-template
  .cv-part
    .personal-details
      %p= @cv.name
      %p= @cv.address
      %p= "#{@cv.email}, #{@cv.phone_number}"

  .cv-part
    .header Personal Profile
    %p= @cv.personal_profile

  .cv-part
    .header Education
    %p= @cv.education

  .cv-part
    .header Technical Skills
    %p= @cv.technical_skills

  .cv-part
    .header Project Work
    %p= @cv.project_work

  .cv-part
    .header Professional Experience
    %p= @cv.professional_experience

  .cv-part
    .header Interests and Achievements
    %p= @cv.interests_and_achievements

  .cv-part
    .header References
    %p= @cv.references

  - @cv.custom_fields.each do |cf|
    .cv-part
      .header= cf.name
      %p= cf.content

  .under-form-links
    = link_to 'Edit', edit_cv_path(@cv), class: "link"
    |
    = link_to 'Back', cvs_path, class: "link"
