!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CvSystem
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      - if user_signed_in?
        = link_to "SEC Placements", jobs_path, class: "logo"
      - elsif staff_member_signed_in?
        = link_to "SEC Placements", admin_jobs_path, class: "logo"
      - else
        = link_to "SEC Placements", root_path, class: "logo"
        
      %nav
        %ul
          - if user_signed_in?
            %li.greeting 
              %p
                Logged in as:
                - if current_user.first_name.blank?
                  .bold= " #{current_user.email}"
                - else
                  .bold= " #{current_user.first_name} #{current_user.last_name}"
            %li= link_to "Jobs", jobs_path
            %li= link_to "My CVs", cvs_path
            %li= link_to "My account", edit_user_registration_path
            %li= link_to "Contact us", contact_path
            %li= link_to "Log out", destroy_user_session_path, method: :delete
          - elsif staff_member_signed_in?
            %li.greeting 
              %p
                Logged in as:   
                .bold= " #{ current_staff_member.first_name} #{current_staff_member.last_name}"
            %li= link_to "Jobs", admin_jobs_path
            %li.bold= link_to "Give feedback", admin_cvs_path
            %li= link_to "Given feedbacks", admin_feedbacks_path
            %li= link_to "My account", edit_staff_member_registration_path
            %li= link_to "Log out", destroy_staff_member_session_path, method: :delete
          - else
            %li= link_to "Sign up", new_user_registration_path
            %li= link_to "Log in", new_user_session_path
    #container
      #notification
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
      = yield
