<!DOCTYPE html>
<html>
<head>
  <title>CvSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div id="logo">
      <a href="<%= root_path %>">
        <%= image_tag("logo.png") %>
      </a>
    </div>

    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><a href="<%= jobs_path %>">Jobs</a></li>
          <li><a href="<%= cvs_path %>">My CVs</a></li>
          <li><%= link_to "My account", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></a></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div id="container">

    <div id="notification">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>

  </div>

</body>
</html>
